.List {
  display: flex;
  flex-direction: column;
  gap: var(--theme-grid-gap1);
}
.Subitem {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--theme-grid-gap1);
  max-height: 356px;
}