.Card2_wrapper {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    gap: 20px;
    border: 1px solid #004BD6;
    border-radius: 20px;
    padding: 30px;
    background-color: #1b2023;
    margin: auto;
}
.h3 {
    font-size: 26px;
    color: white;
    line-height: 30px;
}
.p {
    font-size: 18px;
    color: #9E9E9E;
}

.img {
    margin: 0px;
}

.p2 {
    font-size: 14px;
    color: #9E9E9E;
}

.p3 {
    font-size: 12px;
    color: #9E9E9E;
}
