.Wrapper {
  display: flex;
  position: relative;
  width: 100%;
  border-bottom: var(--sectioncontainer-boder-bottom, none);
  background-color: var(--sectioncontainer-bg-color, var(--theme-colors-transparent));
  background-image: var(--sectioncontainer-bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: var(--sectioncontainer-flex-direction-mobile, column);
  align-items: var(--sectioncontainer-flex-align-mobile, center);
  justify-content: var(--sectioncontainer-flex-justify-mobile, center);
  gap: var(--sectioncontainer-flex-gap-mobile, 0);
  margin: var(--sectioncontainer-margin-mobile, auto);
  padding: var(--sectioncontainer-padding-mobile, auto);
}

@media (min-width: 768px) {
  .Wrapper {
    display:flex;
    flex-direction: var(--sectioncontainer-flex-direction, column);
    align-items: var(--sectioncontainer-flex-align, left);
    justify-content: var(--sectioncontainer-flex-justify, center);
    gap: var(--sectioncontainer-flex-gap, 0);
    margin: var(--sectioncontainer-margin, auto);
    padding: var(--sectioncontainer-padding, auto);
  }
}
