.Container {
  max-width: var(--cardv2-size, 368px);
  padding: var(--cardv2-padding);
  display: flex;
  flex-direction: var(--cardv2-flex-direction, column);
  align-items: var(--cardv2-align-items, start);
  gap: var(--cardv2-flex-gap, var(--theme-grid-gap2));
  background-color: var(--cardv2-background-color, transparent);
  border: var(--cardv2-border);
  border-radius: var(--cardv2-border-radius);
}