.Title {
  text-align: center;
}
.Description {
  text-align: center;
  margin-bottom: 20px;
}

.Container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  display: grid;
  grid-template-areas: var(--herov2-grid-areas-mobile, "children" "text");
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  text-align: var(--herov2-text-align, left);
}

.ContentContainer {
  grid-area: text;
  display:flex;
  flex-direction:column;
}

.ChildrenColumn {
  grid-area: children;
  display:flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .Container {
    grid-template-areas: var(--herov2-grid-areas, "text children");
  }
  .Title {
    text-align: left;
  }
  .Description {
    text-align: left;
  }
}
