.FactsAndFiguresCard {
  gap: var(--factsandfigurescard-flex-gap);
  padding: var(--factsandfigurescard-padding);
}

@media (min-width: 1171px) {
  .FactsAndFiguresCard {
    grid-column: span 3;
    justify-self: center;
  }
  .FactsAndFiguresCard:nth-last-child(1):nth-child(2n + 1) {
    grid-column: 3 / span 2;
  }
}

@media (min-width: 1441px) {
  .FactsAndFiguresCard {
    grid-column: span 2;
    justify-self: center;
  }
  .FactsAndFiguresCard:nth-last-child(1):nth-child(3n) {
    grid-column: 5 / span 2;
  }
  .FactsAndFiguresCard:nth-last-child(1):nth-child(3n + 1) {
    grid-column: 3 / span 2;
  }
  .FactsAndFiguresCard:nth-last-child(1):nth-child(3n + 2) {
    grid-column: 4 / span 2;
  }
  .FactsAndFiguresCard:nth-last-child(2):nth-child(3n + 1) {
    grid-column: 2 / span 2;
  }
}