.Submenu {
  display: flex;
  flex-direction: column;
  gap: var(--theme-grid-gap1);
  overflow: hidden;
}

.Showsubmenu {
  padding-top: var(--theme-grid-gap2);
  padding-left: var(--theme-grid-gap1);
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows 0.5s;
}

.Hidesubmenu {
  display: grid;
  grid-template-rows: 0fr;
}

.Submenu p {
  color: var(--theme-colors-color3);
}

@media (min-width: 1171px) {
  .Showsubmenu {
    position: absolute;
    padding-top: 0;
    padding-left: 0;
  }
  
  .Hidesubmenu {
    position: absolute;
    transition: grid-template-rows 0.5s;
  }

  .Submenu {
    margin-top: 1px;
    margin-left: 0;
    background: rgba(250, 250, 250, 0.8);
    border-radius: 0 0 var(--theme-spaces-small);
    z-index: 1;
    gap: 0;
  }

  .Submenu li {
    border-top: 3px solid var(--theme-colors-white);
    padding: var(--theme-spaces-tiny) var(--theme-spaces-xsmall);
  }

  .Submenu li:hover {
    background: var(--theme-colors-color3);
  }

  .Submenu li:hover:last-child {
    border-radius: 0 0 var(--theme-spaces-small);
  }

  .Submenu li::after {
    display: none;
  }

  .Submenu li p {
    color: var(--theme-colors-black);
  }
  
  .Submenu li:hover p:before {
    content: '■ ';
    color: var(--theme-colors-primary);
    font-size: 12px;
    margin-right: var(--theme-spaces-xxtiny);
    margin-left: -12px;
  }
}