.Desktop {
  display: none;
}

.Mobile {
  display: grid;
}

.CardGroup {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  gap: var(--theme-grid-gap4);
  padding: 0 var(--theme-spaces-tiny);
}

@media (min-width: 1171px) {
  .Desktop {
    display: grid;
  }
  .Mobile {
    display: none;
  }
}