:root {
  --theme-colors-primary: #A71E50;
  --theme-colors-secondary: #FFFFFF;
  --theme-colors-black: #000000;
  --theme-colors-white: #FAFAFA;
  --theme-colors-darkgray: #C4C4C4;
  --theme-colors-color1: #282828;
  --theme-colors-color2: #4D4D4D;
  --theme-colors-color3: #B3B3B3;
  --theme-colors-color4: #F1F3F6;
  --theme-colors-color5: #A71E50;
  --theme-colors-color6: #319AD5;
  --theme-colors-color7: #EF293D;
  --theme-colors-color8: #282828;
  --theme-colors-color9: #E2A100;
  --theme-colors-transparent: transparent;
  --theme-colors-gray4: #DDE1EA;

  --theme-spaces-xxtiny: 8px;
  --theme-spaces-xtiny: 12px;
  --theme-spaces-tiny: 16px;
  --theme-spaces-xxsmall: 20px;
  --theme-spaces-xsmall: 24px;
  --theme-spaces-small: 30px;
  --theme-spaces-medium: 40px;
  --theme-spaces-large: 60px;
  --theme-spaces-xlarge: 100px;
  --theme-spaces-xxxlarge: 132px;

  --theme-grid-gap0: 0.8rem;
  --theme-grid-gap1: 1.6rem;
  --theme-grid-gap2: 2.4rem;
  --theme-grid-gap3: 3.6rem;
  --theme-grid-gap4: 4.0rem;
  --theme-grid-gap5: 4.8rem;
  --theme-grid-gap6: 6.0rem;
  --theme-grid-gap7: 8.0rem;

  --theme-buttonspaces-large-mobile: 4px 20px;
  --theme-buttonspaces-large: 10px 60px;
  --theme-buttonspaces-navbar: 2px 16px;

  --theme-border-radius1: 0.4rem;
  --theme-border-radius2: 0.8rem;
  --theme-border-radius3: 1.8rem;
  --theme-border-radius4: 3rem;

  --theme-font-family: manrope;
 
  --theme-font-h1-style: normal;
  --theme-font-h1-weight: 700;

  --theme-font-h1-size-huge: 7.2rem;
  --theme-font-h1-lineHeight-huge: 10.8rem;

  --theme-font-h1-size-desktop: 6rem;
  --theme-font-h1-lineHeight-desktop: 9rem;

  --theme-font-h1-size-tablet: 4.8rem;
  --theme-font-h1-lineHeight-tablet: 7.2rem;

  --theme-font-h1-size-mobile: 3.6rem;
  --theme-font-h1-lineHeight-mobile: 5.4rem;


  --theme-font-h2-style: normal;
  --theme-font-h2-weight: 400;

  --theme-font-h2-size-huge: 3.6rem;
  --theme-font-h2-lineHeight-huge: 5.4rem;

  --theme-font-h2-size-desktop: 3.2rem;
  --theme-font-h2-lineHeight-desktop: 4.8rem;

  --theme-font-h2-size-tablet: 2.8rem;
  --theme-font-h2-lineHeight-tablet: 4.2rem;

  --theme-font-h2-size-mobile: 2.4rem;
  --theme-font-h2-lineHeight-mobile: 3.6rem;


  --theme-font-h3-style: normal;
  --theme-font-h3-weight: 400;

  --theme-font-h3-size-huge: 3.2rem;
  --theme-font-h3-lineHeight-huge: 4.8rem;

  --theme-font-h3-size-desktop: 2.8rem;
  --theme-font-h3-lineHeight-desktop: 4.2rem;

  --theme-font-h3-size-tablet: 2.4rem;
  --theme-font-h3-lineHeight-tablet: 3.6rem;

  --theme-font-h3-size-mobile: 2rem;
  --theme-font-h3-lineHeight-mobile: 3rem;

  --theme-font-p-style: normal;
  --theme-font-p-weight: normal;

  --theme-font-p-size-huge: 1.6rem;
  --theme-font-p-lineHeight-huge: 125%;

  --theme-font-p-size-desktop: 1.6rem;
  --theme-font-p-lineHeight-desktop: 125%;

  --theme-font-p-size-tablet: 1.6rem;
  --theme-font-p-lineHeight-tablet: 125%;

  --theme-font-p-size-mobile: 1.2rem;
  --theme-font-p-lineHeight-mobile: 125%;

  --theme-font-body1-style: normal;
  --theme-font-body1-weight: 400;

  --theme-font-body1-size-huge: 2.4rem;
  --theme-font-body1-lineHeight-huge: 3.6rem;

  --theme-font-body1-size-desktop: 2.0rem;
  --theme-font-body1-lineHeight-desktop: 3.0rem;

  --theme-font-body1-size-tablet: 1.6rem;
  --theme-font-body1-lineHeight-tablet: 2.4rem;

  --theme-font-body1-size-mobile: 1.2rem;
  --theme-font-body1-lineHeight-mobile: 1.8rem;
  

  --theme-font-footeritem-style: normal;
  --theme-font-footeritem-weight: 700;

  --theme-font-footeritem-size-huge: 2rem;
  --theme-font-footeritem-lineHeight-huge: 2.4rem;

  --theme-font-footeritem-size-desktop: 2rem;
  --theme-font-footeritem-lineHeight-desktop: 2.4rem;

  --theme-font-footeritem-size-tablet: 1.8rem;
  --theme-font-footeritem-lineHeight-tablet: 2rem;

  --theme-font-footeritem-size-mobile: 1.8rem;
  --theme-font-footeritem-lineHeight-mobile: 2rem;

  --theme-font-footerlink-style: normal;
  --theme-font-footerlink-weight: 500;

  --theme-font-footerlink-size-huge: 1.8rem;
  --theme-font-footerlink-lineHeight-huge: 2rem;

  --theme-font-footerlink-size-desktop: 1.8rem;
  --theme-font-footerlink-lineHeight-desktop: 2rem;

  --theme-font-footerlink-size-tablet: 1.6rem;
  --theme-font-footerlink-lineHeight-tablet: 2rem;

  --theme-font-footerlink-size-mobile: 1.6rem;
  --theme-font-footerlink-lineHeight-mobile: 2rem;

  --theme-font-navlink-style: normal;
  --theme-font-navlink-weight: 700;

  --theme-font-navlink-size-huge: 1.4rem;
  --theme-font-navlink-lineHeight-huge: 2rem;

  --theme-font-navlink-size-desktop: 1.4rem;
  --theme-font-navlink-lineHeight-desktop: 2rem;

  --theme-font-navlink-size-tablet: 1.4rem;
  --theme-font-navlink-lineHeight-tablet: 2rem;

  --theme-font-navlink-size-mobile: 1.4rem;
  --theme-font-navlink-lineHeight-mobile: 2rem;
}

body {
  color: var(--theme-colors-black);
  font-size: 1.6rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}
html {
  font-size: 62.5%;
}

h1, .Text__h1 {
  font-style: var(--theme-font-h1-style);
  font-weight: var(--theme-font-h1-weight);
  font-size: var(--theme-font-h1-size-mobile);
  line-height: var(--theme-font-h1-lineHeight-mobile);
}

h2, .Text__h2 {
  font-style: var(--theme-font-h2-style);
  font-weight: var(--theme-font-h2-weight);
  font-size: var(--theme-font-h2-size-mobile);
  line-height: var(--theme-font-h2-lineHeight-mobile);
}

h3, .Text__h3 {
  font-style: var(--theme-font-h3-style);
  font-weight: var(--theme-font-h3-weight);
  font-size: var(--theme-font-h3-size-mobile);
  line-height: var(--theme-font-h3-lineHeight-mobile);
}

p {
  font-style: var(--theme-font-p-style);
  font-weight: var(--theme-font-p-weight);
  font-size: var(--theme-font-p-size-mobile);
  line-height: var(--theme-font-p-lineHeight-mobile);
}

.Text__body1 {
  font-style: var(--theme-font-body1-style);
  font-weight: var(--theme-font-body1-weight);
  font-size: var(--theme-font-body1-size-mobile);
  line-height: var(--theme-font-body1-lineHeight-mobile);
}

.Text__footeritem {
  font-style: var(--theme-font-footeritem-style);
  font-weight: var(--theme-font-footeritem-weight);
  font-size: var(--theme-font-footeritem-size-mobile);
  line-height: var(--theme-font-footeritem-lineHeight-mobile);
}

.Text__footerlink {
  font-style: var(--theme-font-footerlink-style);
  font-weight: var(--theme-font-footerlink-weight);
  font-size: var(--theme-font-footerlink-size-mobile);
  line-height: var(--theme-font-footerlink-lineHeight-mobile);
}

.Text__navlink {
  font-style: var(--theme-font-navlink-style);
  font-weight: var(--theme-font-navlink-weight);
  font-size: var(--theme-font-navlink-size-mobile);
  line-height: var(--theme-font-navlink-lineHeight-mobile);
}

.slick-slider {
  position: relative;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  overflow: hidden;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slide {
  float: left;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide > div {
  margin: 0 var(--theme-spaces-xtiny);
}

.slick-dots {
  display: flex !important;
  gap: var(--theme-spaces-xxtiny);
  list-style: none;
  cursor: pointer;
}

.slick-dots svg {
  width: var(--theme-spaces-xxsmall);
  height: var(--theme-spaces-xxsmall);
  color: var(--theme-colors-darkgray);
}

.slick-dots .slick-active svg{
  color: var(--theme-colors-primary);
}

.slick-dots-container {
  width: 196px;
  display: flex;
  justify-content: space-around;
  gap: var(--theme-spaces-xxtiny);
  margin: var(--theme-spaces-medium) auto 0 auto;
  height: var(--theme-spaces-xsmall);
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  h1, .Text__h1 {
    font-size: var(--theme-font-h1-size-tablet);
    line-height: var(--theme-font-h1-lineHeight-tablet);
  }
  
  h2, .Text__h2 {
    font-size: var(--theme-font-h2-size-tablet);
    line-height: var(--theme-font-h2-lineHeight-tablet);
  }

  h3, .Text__h3 {
    font-size: var(--theme-font-h3-size-tablet);
    line-height: var(--theme-font-h3-lineHeight-tablet);
  }

  p {
    font-size: var(--theme-font-p-size-tablet);
    line-height: var(--theme-font-p-lineHeight-tablet);
  }

  .Text__body1 {
    font-size: var(--theme-font-body1-size-tablet);
    line-height: var(--theme-font-body1-lineHeight-tablet);
  }

  .Text__footeritem {
    font-size: var(--theme-font-footeritem-size-tablet);
    line-height: var(--theme-font-footeritem-lineHeight-tablet);
  }

  .Text__footerlink {
    font-size: var(--theme-font-footerlink-size-tablet);
    line-height: var(--theme-font-footerlink-lineHeight-tablet);
  }

  .Text__navlink {
    font-size: var(--theme-font-navlink-size-tablet);
    line-height: var(--theme-font-navlink-lineHeight-tablet);
  }
}

@media (min-width: 1170px) {
  h1, .Text__h1 {
    font-size: var(--theme-font-h1-size-desktop);
    line-height: var(--theme-font-h1-lineHeight-desktop);
  }
  
  h2, .Text__h2 {
    font-size: var(--theme-font-h2-size-desktop);
    line-height: var(--theme-font-h2-lineHeight-desktop);
  }

  h3, .Text__h3 {
    font-size: var(--theme-font-h3-size-desktop);
    line-height: var(--theme-font-h3-lineHeight-desktop);
  }

  p {
    font-size: var(--theme-font-p-size-desktop);
    line-height: var(--theme-font-p-lineHeight-desktop);
  }

  .Text__body1 {
    font-size: var(--theme-font-body1-size-desktop);
    line-height: var(--theme-font-body1-lineHeight-desktop);
  }

  .Text__footeritem {
    font-size: var(--theme-font-footeritem-size-desktop);
    line-height: var(--theme-font-footeritem-lineHeight-desktop);
  }

  .Text__footerlink {
    font-size: var(--theme-font-footerlink-size-desktop);
    line-height: var(--theme-font-footerlink-lineHeight-desktop);
  }

  .Text__navlink {
    font-size: var(--theme-font-navlink-size-desktop);
    line-height: var(--theme-font-navlink-lineHeight-desktop);
  }
}

@media (min-width: 1440px) {
  h1, .Text__h1 {
    font-size: var(--theme-font-h1-size-huge);
    line-height: var(--theme-font-h1-lineHeight-huge);
  }
  
  h2, .Text__h2 {
    font-size: var(--theme-font-h2-size-huge);
    line-height: var(--theme-font-h2-lineHeight-huge);
  }

  h3, .Text__h3 {
    font-size: var(--theme-font-h3-size-huge);
    line-height: var(--theme-font-h3-lineHeight-huge);
  }

  p {
    font-size: var(--theme-font-p-size-huge);
    line-height: var(--theme-font-p-lineHeight-huge);
  }

  .Text__body1 {
    font-size: var(--theme-font-body1-size-huge);
    line-height: var(--theme-font-body1-lineHeight-huge);
  }

  .Text__footeritem {
    font-size: var(--theme-font-footeritem-size-huge);
    line-height: var(--theme-font-footeritem-lineHeight-huge);
  }

  .Text__footerlink {
    font-size: var(--theme-font-footerlink-size-huge);
    line-height: var(--theme-font-footerlink-lineHeight-huge);
  }

  .Text__navlink {
    font-size: var(--theme-font-navlink-size-huge);
    line-height: var(--theme-font-navlink-lineHeight-huge);
  }
}