.ImageDesktop {
  display: none;
}
.ImageDesktop img {
  object-fit: cover;
  z-index: -1;
}
.ImageMobile {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ImageMobile img {
  object-fit: cover;
  z-index: -1;
}

@media (min-width: 768px) {
  .ImageMobile {
    display: none;
  }
  .ImageDesktop {
    display: flex;
  }
  
}
