.ImageDesktop {
  display: none;
}
.ImageDesktop img {
  z-index: -1;
}
.ImageMobile {
  display: unset;
  align-items: center;
  flex-direction: column;
}

.ImageMobile img {
  z-index: -1;
}

.WrapperDinamic {
  position: relative;
  border-radius: 1.8rem !important;
  overflow: hidden;
}

.WrapperDinamic span{
  position: initial !important;
}

.WrapperDinamic img{
  position: initial !important;
}

@media (min-width: 768px) {
  .ImageMobile {
    display: none;
  }
  .ImageDesktop {
    display: unset;
  }
  
}
