.Text {
  color: var(--textv2-font-color, var(--theme-colors-black));
}

.Text span {
  color: var(--theme-colors-primary);
}

.BorderTop {
  position: relative;
}

.BorderTop::before {
  position: absolute;
  top: -4px;
  content: '';
  width: 35px;
  height: 3.96px;
  background-color: var(--textv2-top-border-color, var(--theme-colors-primary));
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .BorderTop::before {
    left: 0;
    transform: translateX(0);
  }
}